// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=12E1c0kllllaFw0g0qFqFg0w0aF */

// Feel free to copy&paste color codes to your application */



// As hex codes */

$background-color: #569532;
$text-color-bright: #B0DF95;
$shadow-color-bright: #7FBA5D;
$shadow-color-dark: #356F13;
$text-color-dark: #1C4A00;

$aktuelles-border: #bd2921;
