.view-name-b {
  header {
    margin-bottom: 0;
  }

/*
  .l-wrapper {
    background-image: url('../images/Krausnickpark.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
*/
  .view-b {
    margin-bottom: 30px;
  }
}
